<h1>Formulario de Registro</h1>

<div class="container">
  <div class="row">
    <div class="card">
      <h5 class="m-2">Ingreso Al Parqueadero: </h5>
      <hr>
    
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tipo Vehiculo</th>
              <th scope="col">Precio ($)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Carro</th>
              <td>2.000</td>
            </tr>
            <tr>
              <th scope="row">Moto</th>
              <td>1.000</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>

      <div class="card-body">
        
        <section class="formulario m-2">
          
          <form>
        

            <div class="form-group parent ">
              <div class="form-group">
                <label class="form-label">fecha: </label>
                <input type="text" class="form-control" name="fecha" [(ngModel)]="vehiculo.fecha" placeholder="">
              </div>
              <div class="form-group">
                <label class="form-label">Hora: </label>
                <input type="text" class="form-control"  name="hora" [(ngModel)]="vehiculo.hora" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Nombre : </label>
              <input type="text" class="form-control"  name="nombre" [(ngModel)]="vehiculo.nombre" placeholder="">
            </div>
            <div class="form-group">
              <label class="form-label">Email: </label>
              <input type="text" class="form-control" name="email" [(ngModel)]="vehiculo.email" placeholder="">
            </div>
            <div class="form-group">
              <label class="form-label">Celular: </label>
              <input type="text" class="form-control" name="celular" [(ngModel)]="vehiculo.celular" placeholder="">
            </div>
            
            <div class="form-group parent ">
              <div class="form-group ">
                <label class="form-label">Vehiculo : </label>
                <select class="form-select" aria-label="Default select example" name="tipoVehiculo" [(ngModel)]="vehiculo.tipoVehiculo" (click)="precios()">
                  <option value="carro">Carro</option>
                  <option value="moto">Moto</option>
                </select>
              </div>
             <div class="form-group ">
              <label class="form-label">Matricula: </label>
              <input type="text" class="form-control"  name="matricula" [(ngModel)]="vehiculo.matricula" placeholder="">
             </div>
             
            </div>
            <div class="form-group ">
              <label class="form-label">Total a pagar : {{vehiculo.totalPagar}} </label>
             </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary" (click)="postVehiculo()" >Registrar</button>

            </div>

          </form>
        </section>
      </div>
    </div>

  </div>
  <br>
  <br>
 

 <div class="row m-2">
    <div class="card">
      <div class="card-body">
        <h5 class="m-2">Listado de Vehiculos : </h5>
        <hr>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>fecha</th>
              <th>hora</th>
              <th>nombre</th>
              <th>email</th>
              <th>celular</th>
              <th>tipoVehiculo</th>
              <th>matricula</th>
              <th>totalPagar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let v of vehiculos; index as i">
              <th>{{ i+1 }}</th>
              <td>{{ v.fecha }}</td>
              <td>{{ v.hora }}</td>
              <td>{{ v.nombre }}</td>
              <td>{{ v.email }}</td>
              <td>{{ v.celular }}</td>
              <td>{{ v.tipoVehiculo }}</td>
              <td>{{ v.matricula }}</td>
              <td>{{ v.totalPagar }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <section class="tabla">

    </section>
  </div>


</div>

<footer>
  <div class=" pie">
    <h6>----</h6>
  </div>
</footer>

<router-outlet></router-outlet>